<tr id="product_<%= product.id %>">
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= product.price %></td>
  <td><%= product.quantity %></td>
  <td>
    <%= link_to 'Edit', edit_product_path(product), remote: true, :class => 'btn btn-sm btn-info' %>
    <%= link_to 'Delete', product, remote: true, :method => :delete, data: {confirm: "Delete Product: #{product.name}"}, :class => 'btn btn-sm btn-danger' %>
  </td>
</tr>