<p id="notice"><%= notice %></p>

<h1>Listing Tipoplatos</h1>

<table>
  <thead>
    <tr>
      <th>Destipplato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoplatos.each do |tipoplato| %>
      <tr>
        <td><%= tipoplato.destipplato %></td>
        <td><%= link_to 'Show', tipoplato %></td>
        <td><%= link_to 'Edit', edit_tipoplato_path(tipoplato) %></td>
        <td><%= link_to 'Destroy', tipoplato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipoplato', new_tipoplato_path %>
