<p id="notice"><%= notice %></p>

<h1>Listing Detpedidos</h1>

<table>
  <thead>
    <tr>
      <th>Canped</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detpedidos.each do |detpedido| %>
      <tr>
        <td><%= detpedido.canped %></td>
        <td><%= link_to 'Show', detpedido %></td>
        <td><%= link_to 'Edit', edit_detpedido_path(detpedido) %></td>
        <td><%= link_to 'Destroy', detpedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detpedido', new_detpedido_path %>
